body {
    background-color: #fefefe;
    color: #3d3d3d;
    font-size: 0.95rem;
}

#content {
    max-width: 900px;
    margin: 0 auto;
}

#header {
    margin-bottom: 50px;
    font-family: Hack;
    display: flex;
    justify-content: space-between;
}

#main header {
    margin-bottom: 40px;
}

/* frontmatter */
ul.frontmatter {
    font-size: .9rem;
    font-family: Hack, monospace;
}
ul.frontmatter:after{ content: "---"; }
ul.frontmatter li:before { content: ""; }
ul.frontmatter li.date:before { content: "date: "; }
ul.frontmatter li.author:before { content: "author: "; }
ul.frontmatter li.tags:before { content: "tags: ["; }
ul.frontmatter li.tags:after { content: "]"; }
ul.frontmatter li.tags .tag:before { content: "\""; }
ul.frontmatter li.tags .tag:after { content: "\",\00a0"; }
ul.frontmatter li.tags .tag:last-child:after { content: "\""; }
/* frontmatter end */

h1:before{ content: "# "; }
h2:before{ content: "## "; }
h3:before{ content: "### "; }
h4:before{ content: "#### "; }

a {
  color: #34495e; /* リンクの色を炭グレーに設定 */
}

a:hover {
  color: gray; /* マウスオーバー時の色をグレーに設定 */
}

ul {
    padding-left: 0;
}

li > ul {
    padding-left: 1.5em;
}

li > ul > li > ul {
    padding-left: 3em;
}

ul li {
    line-height: 2.5em;
    list-style-type: none;
}

ul li:before {
  content: "- ";
}

ul > li > ul > li:before {
  content: "* ";
}

table {
    width: 100%;
    margin: 30px 0;
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #eee;
}

code {
    color: #5C3CC8;
    font-family: Hack, monospace;
    font-size: .9rem;
}

pre {
    overflow: auto;
    padding: 20px;
    background-color: #272822;
}

pre code {
    color: white;
    line-height: 1.5;
}

pre code:before, pre code:after {
    content: "";
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

blockquote {
    font-style: italic;
}

#footer {
    font-size: .8rem;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media (max-width: 916px) {
    pre {
        margin-left: -16px;
        margin-right: -16px;
    }
}
